* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.todo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden; 
    padding-top: 2rem;
}

.todo-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;
}

.todo-title {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.input-bar {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.add-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0069d9;
}

.tasks-list-container {
    margin-top: 200px;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    height: calc(100vh - 200px);
}

.tasks-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.task-item {
    font-size: 1.5rem;
    color: #333;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #ebebeb;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.task-item:hover {
    background-color: #cfe6ff;
}

.delete-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #ff148a;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #d61375;
}

.edit-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #0cffd6;
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #0acead;
}

.up-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #93ff9c;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.up-button:hover {
    background-color: #6bd874;
}

.down-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #93ff9c;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.down-button:hover {
    background-color: #6bd874;
}